package templates

templ Root() {
<html>

<head>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div class="flex items-center justify-center h-screen w-screen">
    <h1>Hello from templ!</h1>
    <p>This is rendered using templi.</p>
  </div>
</body>

</html>
}